
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f5f5f5;
  padding: 15px;
  
}




.header {
  display: flex;
  align-items: center;
  justify-content: left;
  position: relative;
  margin-bottom: 10px;
  
}

.menu {
  position: fixed;
  right: 0;
  font-size: 24px;
}

.logo {
  color: red;
  position: relative;
}



.services {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  margin-bottom: 10px;
}

.card {
  display: flex;
  background: white;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  overflow-x: hidden;
}
.card i {
    font-size: 60px;
    width: 80px;
    max-height: 80px;
    object-fit: contain;
}

.big {
  grid-column: span 2 ;

}

.search {
  background: white;
  padding: 15px;
  border-radius: 25px;
  margin-bottom: 20px;
  color: gray;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.places {
  background: white;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 20px;
}




.place {
  padding: 15px;
  border-bottom: 1px solid #eee;
}

.html {
  scroll-behavior: smooth;
}